.slider {
  position: relative;
  max-width: 760px;
  width: 100%;
}
.slider-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36rem;
  max-width: 43rem;
  position: relative;
  margin:auto;
  justify-content: center;
  transition: all 0.3ms ease-in-out;
  overflow: hidden;
}

.slider-prettier {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 1rem;
  opacity: 0;
}

.btn-next {
  position: absolute;
  top: 50%;
  left: 0;
}

.btn-prev {
  position: absolute;
  top: 50%;
  right: 0;
}

.slider-prettier.active {
  opacity: 1;
  transform: translateX(0);
}

.slider-prettier.nextSlide {
  transform: translateX(100%);
}

.slider-prettier.prevSlide {
  transform: translateX(-100%);
}

/* As we are using postion absolute in wrapper container we must always give some height to that container... because it going to be out off it's flow */
